{% extends 'layout/base.html' %}

{% block title %}Trang Chủ{% endblock %}
{% block content %}
<form class="container">
    <div>
        <h2>Automatic Slideshow</h2>
        <p>Change image every 2 seconds:</p>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div id="pg-2-1" class="panel-grid panel-has-style" style="padding-top:30px;">
        <h1>Duong Hoang Khang</h1>
    </div>
</form>
{% endblock %}