{% extends 'layout/base.html' %}

{% block title %}Trang Chủ{% endblock %}
{% block content %}
<form class="container">
    <div>
        <h2>Automatic Slideshow</h2>
        <p>Change image every 2 seconds:</p>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="https://images.unsplash.com/photo-1553615738-d8e0829f1d61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                     style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="https://images.unsplash.com/photo-1618825415559-0819e12ff73f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                     style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="https://images.unsplash.com/photo-1613017911671-a933979c8022?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                     style="width:100%">
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div id="pg-2-1" class="panel-grid panel-has-style" style="padding-top:30px;">
        <div class="tab-category tab-ve-chung-toi panel-row-style panel-row-style-for-2-1">
            <div id="pgc-2-1-0" class="panel-grid-cell">
                <div id="panel-2-1-0-0"
                     class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child"
                     data-index="4">
                    <div class="ve-chung-toi left panel-widget-style panel-widget-style-for-2-1-0-0">
                        <div id="pl-w637c8508b082b" class="panel-layout">
                            <div id="pg-w637c8508b082b-0" class="panel-grid panel-no-style">
                                <div id="pgc-w637c8508b082b-0-0" class="panel-grid-cell">
                                    <div id="panel-w637c8508b082b-0-0-0"
                                         class="so-panel widget widget_sow-editor panel-first-child panel-last-child"
                                         data-index="0">
                                        <div class="title panel-widget-style panel-widget-style-for-w637c8508b082b-0-0-0">
                                            <div class="so-widget-sow-editor so-widget-sow-editor-base">
                                                <div class="siteorigin-widget-tinymce textwidget">
                                                    <h2 style="text-align: center;">VỀ CHÚNG TÔI</h2>
                                                    <center>
                                                        <img loading="lazy"
                                                             class="alignnone size-full wp-image-20 aligncenter"
                                                             src="https://benhvien175.vn/wp-content/uploads/2018/08/icon01.png"
                                                             alt="" width="199" height="29"
                                                             srcset="https://benhvien175.vn/wp-content/uploads/2018/08/icon01.png 199w, https://benhvien175.vn/wp-content/uploads/2018/08/icon01-20x3.png 20w"
                                                             sizes="(max-width: 199px) 100vw, 199px">
                                                </div>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pg-w637c8508b082b-1" class="panel-grid panel-has-style">
                                <div class="row-chung-toi panel-row-style panel-row-style-for-w637c8508b082b-1 flex-container">
                                    <div id="pgc-w637c8508b082b-1-0" class="panel-grid-cell" style="margin-right:35px">
                                        <div id="panel-w637c8508b082b-1-0-0"
                                             class="so-panel widget widget_sow-editor panel-first-child" data-index="1">
                                            <div class="title left panel-widget-style panel-widget-style-for-w637c8508b082b-1-0-0">
                                                <div class="so-widget-sow-editor so-widget-sow-editor-base">
                                                    <div class="siteorigin-widget-tinymce textwidget">
                                                        <h3>PHÒNG KHÁM BABY SHARK</h3>
                                                        <p class="roboto-font"
                                                           style="text-align:left; font-size: 20px; text-align: justify; line-height: 150%;">
                                                            Phòng khám Baby Shark là một phòng khám tư nhân với ba người lãnh đạo có kinh nghiệm hơn 30 năm trong lĩnh vực y tế, phòng khám có
                                                            nhiệm vụ khám chữa bệnh cho nhưng người cần đuược khám bệnh chữa bệnh với giá cả hợp lí. Làm
                                                            tròn nhiệm vụ của một bác sĩ và con người Việt Nam tại Mỹ giao phó, Phòng khám Shark không chỉ là đơn vị y tế chuyên
                                                            sâu giữ gìn sức khoẻ cho con người mà còn là phòng khám lớn hàng đầu dành cho nhân dân
                                                            hải ngoại.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="panel-w637c8508b082b-1-0-1"
                                             class="widget_text so-panel widget widget_custom_html panel-last-child"
                                             data-index="2">
                                            <div class="widget_text pk-buttom pk-buttom-01 panel-widget-style panel-widget-style-for-w637c8508b082b-1-0-1">
                                                <div class="textwidget custom-html-widget ">
                                                    <div class="pk-more "><a class="btn-success btn"
                                                                             href="https://benhvien175.vn/benh-vien-quan-y-175/"><span
                                                            class="roboto-font"
                                                            style="margin-right:15px;">TÌM HIỂU THÊM</span><img
                                                            src="https://benhvien175.vn/wp-content/uploads/2019/07/icon-tim-hieu-them.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="pgc-w637c8508b082b-1-1" class="panel-grid-cell ">
                                        <div id="panel-w637c8508b082b-1-1-0"
                                             class="so-panel widget widget_sow-editor panel-first-child panel-last-child"
                                             data-index="3">
                                            <div class="right panel-widget-style panel-widget-style-for-w637c8508b082b-1-1-0">
                                                <div class="so-widget-sow-editor so-widget-sow-editor-base">
                                                    <div class="siteorigin-widget-tinymce textwidget">
                                                        <p><img loading="lazy"
                                                                class="aligncenter wp-image-1112 size-full"
                                                                src="https://benhvien175.vn/wp-content/uploads/2018/12/img-ve-chung-toi.jpg"
                                                                alt="" width="680" height="400"
                                                                style="    width: 600px; height:auto;"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:30px;">
        <div id="pg-w601e3dc4abaa0-0" class="panel-grid panel-has-style">
            <div class="title panel-row-style panel-row-style-for-w601e3dc4abaa0-0">
                <div id="pgc-w601e3dc4abaa0-0-0" class="panel-grid-cell">
                    <div id="panel-w601e3dc4abaa0-0-0-0"
                         class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="0">
                        <div class="so-widget-sow-editor so-widget-sow-editor-base">
                            <div class="siteorigin-widget-tinymce textwidget">
                                <h2 style="text-align: center;">CHUYÊN KHOA</h2>
                                <center>
                                    <p><img loading="lazy" class="alignnone size-full wp-image-20 aligncenter"
                                            src="https://benhvien175.vn/wp-content/uploads/2018/08/icon01.png" alt=""
                                            width="199" height="29"
                                            srcset="https://benhvien175.vn/wp-content/uploads/2018/08/icon01.png 199w, https://benhvien175.vn/wp-content/uploads/2018/08/icon01-20x3.png 20w"
                                            sizes="(max-width: 199px) 100vw, 199px" data-pagespeed-url-hash="3152711845"
                                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class=" textwidget custom-html-widget">
                <center>
                    <ul class="detail-service detail-chuyen-khoa  flex-container"
                        style=" padding-left:0px;">
                        <li style="margin-right:25px; margin-left:12px;">
                            <a href="https://benhvien175.vn/can-bo-cao-cap/">
                                <div class="img">
                                    <img class="chuyenKhoa-img"
                                         src="https://benhvien175.vn/wp-content/uploads/2019/05/can-bo-cc.jpg"
                                         data-pagespeed-url-hash="2743057718"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </div>
                                <div class="div-chuyenkhoa">
                                    <span>Cán bộ cao cấp </span>
                                </div>
                            </a>
                        </li>
                        <li style="margin-right:25px; margin-left:0px;">
                            <a href="https://benhvien175.vn/khoa-chan-doan-hinh-anh/">
                                <div class="img">
                                    <img class="chuyenKhoa-img"
                                         src="https://benhvien175.vn/wp-content/uploads/2019/05/chuan-doan-ha.jpg"
                                         data-pagespeed-url-hash="2425808333"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </div>
                                <div class="div-chuyenkhoa">
                                    <span>Chẩn đoán hình ảnh  </span>
                                </div>
                            </a>
                        </li>
                        <li style="margin-right:25px; margin-left:0px;">
                            <a href="https://benhvien175.vn/khoa-mat/">
                                <div class="img">
                                    <img class="chuyenKhoa-img"
                                         src="https://benhvien175.vn/wp-content/uploads/2019/05/khoa-mat.jpg"
                                         data-pagespeed-url-hash="3446239013"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </div>
                                <div class="div-chuyenkhoa">
                                    <span>Khoa mắt  </span>
                                </div>
                            </a>
                        </li>
                        <li style="margin-right:25px; margin-left:0px;">
                            <a href="https://benhvien175.vn/khoa-vat-ly-tri-lieu/">
                                <div class="img">
                                    <img class="chuyenKhoa-img"
                                         src="https://benhvien175.vn/wp-content/uploads/2019/05/vat-ly-tl.jpg"
                                         data-pagespeed-url-hash="3474668611"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </div>
                                <div class="div-chuyenkhoa">
                                    <span>Vật lý trị liệu  </span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </center>
                <center>
                    <ul class="detail-service detail-chuyen-khoa slider-khoa flex-container"
                        style=" padding-left:0px;">
                        <li style="margin-right:25px; margin-left:12px;">
                            <a href="https://benhvien175.vn/khoa-vat-ly-tri-lieu/">
                                <div class="img">
                                    <img class="chuyenKhoa-img"
                                         src="https://benhvien175.vn/wp-content/uploads/2019/05/chan-thuong-chinh-hinh.jpg"
                                         data-pagespeed-url-hash="3111649876"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </div>
                                <div class="div-chuyenkhoa">
                                    <span>Chấn thương - chỉnh hình  </span>
                                </div>
                            </a>
                        </li>
                        <li style="margin-right:25px; margin-left:0px;">
                            <a href="https://benhvien175.vn/khoa-vat-ly-tri-lieu/">
                                <div class="img">
                                    <img class="chuyenKhoa-img"
                                         src="https://benhvien175.vn/wp-content/uploads/2019/05/noi-tieu-hoa.jpg"
                                         data-pagespeed-url-hash="3864346810"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </div>
                                <div class="div-chuyenkhoa">
                                    <span>Nội tiêu hóa  </span>
                                </div>
                            </a>
                        </li>
                        <li style="margin-right:25px; margin-left:0px;">
                            <a href="https://benhvien175.vn/khoa-vat-ly-tri-lieu/">
                                <div class="img">
                                    <img class="chuyenKhoa-img"
                                         src="https://benhvien175.vn/wp-content/uploads/2019/05/tim-mach-khop.jpg"
                                         data-pagespeed-url-hash="542486308"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </div>
                                <div class="div-chuyenkhoa">
                                    <span>Tim mạch - khớp - nội tiết</span>
                                </div>
                            </a>
                        </li>
                        <li style="margin-right:25px; margin-left:0px;">
                            <a href="https://benhvien175.vn/khoa-vat-ly-tri-lieu/">
                                <div class="img">
                                    <img class="chuyenKhoa-img"
                                         src="https://benhvien175.vn/wp-content/uploads/2019/05/ung-buou.jpg"
                                         data-pagespeed-url-hash="3832745927"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                </div>
                                <div class="div-chuyenkhoa">
                                    <span>Ung bướu</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
    <div>
        <center>
            <a href="/BooKAConsultation" class="btn btn-danger">đặt lịch khám<img style=" display: inline-block;
    float: right;
    height: 25px;
    margin-left: 10px;"
                                                                 src="https://benhvien175.vn/wp-content/uploads/2018/08/icon-dat-lich.png"></a>
            <a href="#" class="btn btn-success">Xem thêm chuyên khoa<img
                    style="padding-left:10px;"
                    src="https://benhvien175.vn/wp-content/uploads/2019/07/icon-tim-hieu-them.png"></a></center>
    </div>
    <div style="padding-top:25px;">
        <center>
            <h2 style="text-align: center;">ĐỘI NGŨ BÁC SĨ</h2>
            <p><img loading="lazy" class="alignnone size-full wp-image-30 aligncenter"
                    src="https://benhvien175.vn/wp-content/uploads/2018/08/cac-bac-si.png" alt="" width="199"
                    height="25"
                    srcset="https://benhvien175.vn/wp-content/uploads/2018/08/cac-bac-si.png 199w, https://benhvien175.vn/wp-content/uploads/2018/08/cac-bac-si-20x3.png 20w"
                    sizes="(max-width: 199px) 100vw, 199px"></p></center>
    </div>
</form>
<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 7000); // Change image every 2 seconds
}
</script>
{% endblock %}